<div class="rubber-container result" style="display: block" th:fragment="content">
    <div class="central-column">
        <table class="table result-table no-script">
            <tr class="line-background">
                <th class="ip_header">My Ip Adress</th>
                <td><b class="ip" th:utext="${response['ip']}">91.168.15.247</b></td>
            </tr>
            <tr>
                <th>IP Version</th>
                <td><span class="country_name" th:utext="${ipversion}">France</span></td>
            </tr>
            <tr>
                <th>Country</th>
                <td><span class="country_name" th:utext="${response['country_name']}">France</span></td>
            </tr>
            <tr>
                <th>Country Code</th>
                <td><span class="country_name" th:utext="${response['country_code']}">France</span></td>
            </tr>
            <tr>
                <th>Flag</th>
                <td><img th:src="${response['flag']}" th:alt="${response['country_name']} + ' Logo'"/></td>
            </tr>
            <tr>
                <th>City</th>
                <td class="city" th:utext="${response['city']}"></td>
            </tr>
            <tr>
                <th>Postal code</th>
                <td class="company" th:utext="${response['postal']}">Free SAS</td>
            </tr>
            <tr>
                <th>Region</th>
                <td><span class="region_name" th:utext="${response['region']}"></span></td>
            </tr>
            <tr>
                <th>Region code</th>
                <td><span class="region_name" th:utext="${response['region_code']}"></span></td>
            </tr>
            <tr>
                <th>Continent name</th>
                <td><span class="region_name" th:utext="${response['continent_name']}"></span></td>
            </tr>
            <tr>
                <th>Continent code</th>
                <td><span class="region_name" th:utext="${response['continent_code']}"></span></td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td class="lat" id="latitude" th:utext="${response['latitude']}">48.8582</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td class="lng" id="longitude" th:utext="${response['longitude']}">2.3387</td>
            </tr>
            <tr>
                <th>ASN</th>
                <td class="lng" th:utext="${response['asn']}">2.3387</td>
            </tr>
            <tr>
                <th>Organisation</th>
                <td class="company" th:utext="${response['organisation']}">Free SAS</td>
            </tr>
            <tr>
                <th>Calling code</th>
                <td class="company" th:utext="'+' + ${response['calling_code']}">Free SAS</td>
            </tr>
            <tr class="line-background">
                <th>Languages</th>
                <td></td>
            </tr>
            <tr>
                <th>Name</th>
                <td class="company" th:if="${response['languages'] != null}" th:utext="${response['languages'][0]['name']}">Free SAS</td>
                <td class="company" th:unless="${response['languages'] != null}"></td>
            </tr>
            <tr>
                <th>Native</th>
                <td class="company" th:if="${response['languages'] != null}" th:utext="${response['languages'][0]['native']}">Free SAS</td>
                <td class="company" th:unless="${response['languages'] != null}"></td>
            </tr>
            <tr class="line-background">
                <th>Currency</th>
                <td></td>
            </tr>
            <tr>
                <th>Currency name</th>
                <td class="company" th:utext="${response['currency']['name']}">Free SAS</td>
            </tr>
            <tr>
                <th>Currency code</th>
                <td class="company" th:utext="${response['currency']['code']}">Free SAS</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td class="company" th:utext="${response['currency']['symbol']}">Free SAS</td>
            </tr>
            <tr>
                <th>Native</th>
                <td class="company" th:utext="${response['currency']['native']}">Free SAS</td>
            </tr>
            <tr>
                <th>Plural</th>
                <td class="company" th:utext="${response['currency']['plural']}">Free SAS</td>
            </tr>
            <tr class="line-background">
                <th>Time Zone</th>
                <td></td>
            </tr>
            <tr>
                <th>Name</th>
                <td class="company" th:utext="${response['time_zone']['name']}">Free SAS</td>
            </tr>
            <tr>
                <th>Abbr</th>
                <td class="company" th:utext="${response['time_zone']['abbr']}">Free SAS</td>
            </tr>
            <tr>
                <th>Offset</th>
                <td class="company" th:utext="${response['time_zone']['offset']}">Free SAS</td>
            </tr>
            <tr>
                <th>Is Dst</th>
                <td class="company" th:utext="${response['time_zone']['is_dst']}">Free SAS</td>
            </tr>
            <tr>
                <th>Current time</th>
                <td class="company" th:utext="${response['time_zone']['current_time']}">Free SAS</td>
            </tr>
            
        </table>
        <div id="map" class="no-script"></div>
        <div class="clear"></div>
    </div>
</div>