/* reset */


@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfpcuPLdshZhVB.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
  font-display: swap;
}
/* vietnamese */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfqMuPLdshZhVB.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfqcuPLdshZhVB.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, input, select, textarea, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit;
font-size:100%; font-family:inherit; vertical-align:baseline; line-height: 1; font-size: 14px;}
:focus {outline:0;outline-color:transparent;}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
.clear {clear:both;height:0;overflow:hidden;}

body {
    font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, serif;
}

/* Buttons */

.btn--yellow {
    background-color: #f89f3aff;
}

.btn:focus {
    color: #fff;
}

.btn--green:active {
    box-shadow: 0px -4px 7px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn--green.btn-hover-shadow:hover {
    background-color: #3cb879;
}
.btn--green.btn-hover-shadow:hover:after {
    box-shadow: 9px 9px 9px 0 rgba(70, 214, 141, 0.2);
}
.btn--green.btn-hover-shadow:active {
    box-shadow: 0px -4px 7px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn-medium {
    padding: 12px 20px 13px 20px;
    font-size: 13px;
}
.btn-hover-shadow:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
    position: absolute;
    transition: all .3s ease;
}
.search-btn {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    position: relative;
    transition: all .3s ease;
    text-align: center;
}
.btn + .btn {
    margin-left: 30px;
}
.btn img {
    position: absolute;
    left: 10px;
    top: 10px;
}
.btn i {
    margin-left: 10px;
    font-size: 12px;
}
.btn:after {
    display: block;
    width: 100%;
    height: 100%;
}
.semicircle {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    overflow: hidden;
}
.semicircle:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
}

/* Input */

.input-round {
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    padding: 12px 20px 13px 20px;
    width: calc(100% - 95px);
    line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:none;
}

/* Remove focused element outline */

input:focus, .btn:focus {
    outline: none !important;
}



/* Logo */

.logo .logo-container {
    display: inline-block;
}
.logo {
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
 }
.logo img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.logo .logo-text {
    float: left;
    margin-top: 14px;
    line-height: 1;
}
.logo .logo-text .logo-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #3c829dff;
    height: 1em;
    font-size: 4.4em;
    letter-spacing: 0;
}

.logo .logo-text .logo-sub-title {
    text-transform: uppercase;
    margin-left: 0.48em;
    letter-spacing: 0.48em;
    font-size: 0.85em;
}

@media (max-width: 768px) {
    .logo {
          margin-top: 15px;
     }
    .logo img {
        width: 75px;
        height: 75px;
        margin-right: 12px;
    }
    .logo .logo-text {
        margin-top: 12px;
    }
    .logo .logo-text .logo-title {
       font-size: 2.5em;
    }
    .logo .logo-text .logo-sub-title {
        letter-spacing: 0.12em;
        margin-left: 0.25em;
    }
}

@media (max-width: 400px) {
    .logo {
          margin-top: 10px;
     }
    .logo img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .logo .logo-text {
        margin-top: 10px;
    }
    .logo .logo-text .logo-title {
       font-size: 1.5em;
    }
    .logo .logo-text .logo-sub-title {
        letter-spacing: 0;
        font-size: 0.82em;
        margin-left: 0.12em;
    }
}

/* Result table */
.result {
    display: none;
}

#not-found {
    display : none;
}

.heading-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: rgb(121, 121, 121);
}

#map {
    float: left;
    width: calc(50% - 15px);
    height: 260px;
    margin-left: 15px;
    border: 1px solid rgb(207, 218, 207);
    max-width: 100%;
    overflow: hidden;
}

#map.no-script {
    display: none;
}

.result-table {
    float: left;
    width: calc(50% - 15px);
    margin-right: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    max-width: 100%;
}

.result-table.no-script {
    width: calc(100% - 20px);
}

@media (max-width: 767px) {
    .result-table {
        width: calc(100% - 20px);
        margin: 0px 10px 20px 10px;
    }

    #map {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
}

/* alignment classes */

.logo-sub-title:after, .logo-title:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.rubber-container {
    width: 100%;
}

.central-column {
    width: 83.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 900px;
    margin: 0 auto;
}
.with-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-form {
    padding: 15px 5px;
}

@media (max-width: 767px) {
    .central-column {
        width: 100%;
    }
  .hidden-xs {
    display: none !important;
  }
}


.top-container {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.top-row-container {
    display: table-row;
}

.top-row-cell {
    display: table-cell;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* banner */

.hads {
    width: 728px;
    height: 90px;
    margin: 15px auto;
    overflow: hidden;
}

@media only screen and (max-width: 720px) {
    .hads {
        display: none;
        /* width: 468px;
        height: 60px; */
    }
}

@media only screen and (max-width: 480px) {
    .hads {
        display: none;
        /* width: 320px;
        height: 50px; */
    }
}

/* Bootstrap table css*/

.table {
  max-width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

th {
  text-align: left;
}

#footer {
    text-align: center;
    margin: 30px 0 20px 0;
}
#copyright {
    color: rgb(121, 121, 121);
    font-size: 0.9em;
    margin-top: 20px;
}

/* share */
#share-slogan {
    color: #444444;
    font-size: 25px;
    text-align: center;
}
#share {
    width: 300px;
    margin: 10px auto 0 auto;
}
#share .pop {
    margin: 0 5px;
}
.share-bw {
    background: url("/images/social-icons.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    width: 49px;
    height: 49px;
    line-height: 0;
    margin: 0;
}
.share-bw-facebook {
    background-position: -1px -1px;
}
.share-bw-facebook:hover {
    background-position: -1px -51px;
}
.share-bw-twitter {
    background-position: -50px -1px;
}
.share-bw-twitter:hover {
    background-position: -50px -51px;
}
.share-bw-googleplus {
    background-position: -99px -1px;
}
.share-bw-googleplus:hover {
    background-position: -99px -51px;
}
.share-bw-stumbleupon {
    background-position: -148px -1px;
}
.share-bw-stumbleupon:hover {
    background-position: -148px -51px;
}
.share-bw-reddit {
    background-position: -197px -1px;
}
.share-bw-reddit:hover {
    background-position: -197px -51px;
}
.share-bw-vkontakte {
    background-position: -246px -1px;
}
.share-bw-vkontakte:hover {
    background-position: -246px -51px;
}

.line-background{
	background-color:  #ddd
}