@font-face {
  font-family: "montserrat,sans-serif";
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body {
  font-family: 'montserrat,sans-serif';
  font-size: 13px;
  color: #757575;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

th {
  padding: 20px;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
}

td {
  padding: 15px;
  text-align: center;
}

.logo{
	width: 50px;
	height: 50px;
	padding-left: 45px;
}

#titre-site {
  position : absolute;
  letter-spacing: 2pt;
  font-size: 30px;
  color: #042e5d;
  font-family: 'montserrat,sans-serif';
  margin: 10px;
}

#simple {
  position: absolute;
  right: 3%;
  color: #757575;
  font-size: 25px;
  font-family: 'montserrat,sans-serif';
  letter-spacing: 3pt;
}

#menu_hamburger {
  display: none;
}

nav {
  border-radius: 4px;
  letter-spacing: 2pt;
  font-size: 15px;
  font-family: 'montserrat,sans-serif';
  text-align: center;
  background-color: #f1f1f1;
}

nav div {
  display: inline-block;
  padding: 20px;
  background: linear-gradient(45deg,#303f9f 2%,#303f9f 69%,#303f9f 69%);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  color: #f8f8ff;
  border: 1px #f8f8ff solid;
  font-weight: 300;
  margin: 5px;
  border-radius: 5px;
}

nav div:hover {
  color: #303f9f;
  background: #555;
  cursor: default;
  background-color: #FFCC00;
}

nav div:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px #f8f8ff solid;
}

nav div:last-child {
  position: absolute;
  right: 3%;
  border: 0 #f8f8ff solid;
}

nav div:last-child:hover {
  background: 0;
  background: 0;
  box-shadow: none;
}

#sociaux {
  font-family: 'montserrat,sans-serif';
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #fff;
  margin-left: 40%;
}

#sociaux > div {
  padding: 7px 13px;
}

#sociaux > div:hover {
  cursor: pointer;
}

#sociaux > div:last-child {
  font-family: 'montserrat,sans-serif';
  background-color: #fff;
  text-align: center;
  width: 90px;
  height: 5px;
  line-height: 5px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 3px;
  margin-left: 8px;
  font-size: 10px;
  border: 1px solid #3290d6;
}

#sociaux > div:last-child > a {
  color: #3aaae1;
}

#fb {
  background-color: #3c5a96;
}

#tw {
  background-color: #3bc0f0;
}

#gg {
  background-color: #db4c3f;
}

#lk {
  background-color: #0077b5;
}

#pt {
  background-color: #c9232d;
}

#menu_detail {
  position: absolute;
  top: 130px;
  left: 9px;
  border: 1px #fff solid;
  color: #fff;
  width: 190px;
  background: #042e5d;
  display: none;
  z-index: 50;
}

#menu_detail:hover {
  background: #555;
}

ul {
  list-style: none;
  margin-left: 8px;
  padding-left: 0;
}

li {
  margin-top: 13px;
  font-family: 'montserrat,sans-serif';
  letter-spacing: 2pt;
}

#croix-ferme {
  display: none;
}

footer {
  position: relative;
  top: 8px;
}

footer div {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #303f9f;
  margin-left: -9px;
  margin-right: -9px;
}

footer div:nth-child(1) {
  background: #f5fffa;
}

footer div:nth-child(2) {
  background: #363c48;
}

#cookie {
  position: fixed;
  bottom: 0;
  background: #fff;
  border: 1px grey solid;
  z-index: 99;
  width: 100%;
  opacity: .9;
  left: 0;
  text-align: justify;
  display: none;
}

#cookie p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

#toutes_les_parties {
  display: flex;
}

#partie_1 {
  position: relative;
  width: 600px;
}

#publicite_1 {
  margin-left: 30px;
}

#partie_2 {
  position: relative;
  width: 85%;
}

#calculatrice_simple {
  position: relative;
  background-color: #f1f1f1;
  border: 1px #052f5f solid;
  width: 600px;
  height: auto;
  font-size: 70px;
  margin-left: -360px;
  left: 60%;
  font-family: 'montserrat,sans-serif';
}

#emprunt {
  position: relative;
  margin-top: 20px;
  border-collapse: collapse;
  left: 60%;
  margin-left: -360px;
}

#emprunt th {
  border: 1px #000 solid;
  padding: 10px;
  text-decoration: none;
}

.ligne_input {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

input {
  border: 2px #042e5d solid;
  text-align: center;
  letter-spacing: 2pt;
  font-family: 'montserrat,sans-serif';
  margin-left: 20px;
}

.input_carre {
  border: 1px #042e5d solid;
  width: 60px;
  height: 50px;
  font-size: 30px;
}

.input_carre_moyen {
  border: 1px #042e5d solid;
  width: 105px;
  height: 50px;
  font-size: 20px;
}

.input_rectangle {
  border: 1px #042e5d solid;
  width: 300px;
  height: 50px;
  font-size: 30px;
}

.input_carre_resultat {
  background: #042e5d;
  color: #fff;
  width: 60px;
  height: 50px;
  font-size: 30px;
}

.input_rectangle_resultat {
  width: 300px;
  height: 50px;
  font-size: 30px;
}

.cacher {
  display: none;
}

#titre_machine {
  text-align: center;
  font-size: 17px;
  color: #052f5f;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 7px;
  padding-bottom: 4px;
  border-bottom: 3px #052f5f double;
}

#titre_machine a {
  color: #000;
}

.bouton_petit {
  color: #fff;
  letter-spacing: 2pt;
  font-size: 15px;
  padding: 5px;
  font-family: 'montserrat,sans-serif';
  background: #042e5d;
  background: linear-gradient(#3767a0,#042e5d);
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border: 1px #f8f8ff solid;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 25px;
  cursor: pointer;
}

.bouton_moyen {
  color: #fff;
  letter-spacing: 2pt;
  font-size: 15px;
  padding: 10px;
  font-family: 'montserrat,sans-serif';
  background: #303f9f;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  margin-left: 25px;
  cursor: pointer;
}

.bouton_petit:active,.bouton_moyen:active {
  color: #ffefd5;
  background: #FFCC00;
  box-shadow: 1px 1px 10px #000 inset,0 1px 0 rgba(255,255,255,0.4);
}

.bouton_petit:hover,.bouton_moyen:hover {
  border: 1px #000 solid;
  background-color: #FFCC00
}

.paragraphe_infos {
  color: #000;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.bordure_elegante {
  border: 2px #0c3768 inset;
  margin: 10px;
}

#pub_amazon {
  margin-top: 20px;
  margin-bottom: 15px;
}

#pub_amazon,#pub_amazon_altern,#pub_amazon_altern_2 {
  border: 1px #d8d8d8 solid;
  border-radius: 4px;
  display: flex;
  margin-right: 15px;
}

#pub_amazon button,#pub_amazon_altern button,#pub_amazon_altern_2 button {
  background-color: #c4001b;
  color: #fff;
  border: 1px #c4001b solid;
  border-radius: 2px;
  position: relative;
  bottom: 0;
}

#pub_amazon button:hover,#pub_amazon_altern button:hover,#pub_amazon_altern_2 button:hover {
  background-color: #910014;
  border: 1px #910014 solid;
  cursor: pointer;
}

#pub_amazon > div,#pub_amazon_altern > div,#pub_amazon_altern_2 > div {
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

#pub_amazon > div:nth-child(1),#pub_amazon_altern > div:nth-child(1),#pub_amazon_altern_2 > div:nth-child(1) {
  border-right: 1px #d8d8d8 solid;
}

#pub_amazon > div > p:nth-child(2),#pub_amazon_altern > div > p:nth-child(2),#pub_amazon_altern_2 > div > p:nth-child(2) {
  color: #000;
  font-weight: 700;
  font-family: 'montserrat,sans-serif';
  font-size: 16px;
  height: 40px;
}

.ancien-prix {
  font-size: 10px;
  font-family: 'montserrat,sans-serif';
  text-decoration: line-through;
}

.nouveau-prix {
  font-size: 15px;
  font-family: 'montserrat,sans-serif';
  color: #c4001b;
  font-weight: 700;
}

#total {
  position: relative;
  margin-top: 20px;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
  padding-right: 2px;
  border: 2px #052f5f solid;
  border-radius: 0;
  text-align: center;
  color: #495474;
  background-color: #fff;
}

.bouton_calculatrice {
  border: 2px #052f5f solid;
  border-radius: 40px;
  text-align: center;
  color: #052f5f;
  cursor: pointer;
  padding: 10px;
  font-size: 50px;
  width: 60px;
  background-color: #fff;
}

.bouton_calculatrice:active {
  background: #d7e9fd;
  box-shadow: 0 0 0 #7f91b6;
}

#sept {
  margin-top: 30px;
  margin-left: 40px;
}

#huit,#cinq,#deux {
  margin-top: -84px;
  margin-left: 145px;
}

#neuf,#six,#trois,#point {
  margin-top: -84px;
  margin-left: 250px;
}

#CE,#diviser,#moins,#egale {
  margin-top: -84px;
  margin-left: 375px;
  font-size: 45px;
}

#C,#multiplier,#addition {
  margin-top: -84px;
  margin-left: 480px;
}

#quatre,#un {
  margin-top: 20px;
  margin-left: 40px;
}

#C {
  background: #f9a7a4;
  color: #000;
}

#addition {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ccdefb;
}

#zero {
  margin-top: -80px;
  margin-left: 40px;
  width: 165px;
}

#egale {
  background: #FFCC00;
}

#brouillon_1 {
  position: relative;
  font-size: 25px;
  margin-left: 50px;
  top: -430px;
  text-align: left;
}

#croix_produit_en_croix {
  max-width: 100%;
  height: auto;
  margin-left: 200px;
  margin-top: 10px;
}

.input_moyenne {
  width: 75px;
  font-size: 16px;
}

@keyframes Bitcoin {
  0% {
    transform: rotateY(0deg) rotateZ(15deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(360deg) rotateZ(15deg) rotateX(0deg);
  }
}

@keyframes RefreshBitcoin {
  0% {
    transform: rotateZ(0deg) rotateX(0deg);
  }

  50% {
    transform: rotateZ(20deg) rotateX(180deg);
  }

  100% {
    transform: rotateZ(0deg) rotateX(0deg);
  }
}

.refreshBit {
  color: red;
  animation: RefreshBitcoin .5s;
}

#logo-bitcoin {
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

#logo-bitcoin > div > img {
  animation: Bitcoin 1.5s;
  animation-iteration-count: infinite;
}

.lienFort {
  color: #ed8d1a!important;
  font-weight: 700;
  font-style: italic;
}

#logo-bitcoin > div > img {
  width: 100%;
}

.chargement-bitcoin {
  text-align: center;
  color: #f5922f;
  font-size: 14px;
  font-weight: 700;
  font-family: 'montserrat,sans-serif';
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 50px 20% 30px;
}

.pourACopier {
  padding-left: 10px;
  border: 1px solid #7f7f7f;
  height: 30px;
  width: 400px;
  font-size: 13px;
}

#contenu_verif_masque_reseau {
  color: red;
}

#surface-carre {
  width: 99%;
  margin: 30px auto;
}

#surface-carre #surface {
  margin-left: auto;
  margin-right: auto;
  border: 3px #042e5d solid;
  background-color: #7aa5cd;
  transition: 1s;
}

#cote-a-nombre,#cote-b-nombre {
  text-align: center;
  font-size: 25px;
  color: #042e5d;
  opacity: 0;
}

#cote-b-nombre {
  position: absolute;
  left: 105px;
  width: auto;
  border: 1px solid #0c3767;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#details-dons {
  overflow-y: hidden;
  height: 10px;
  padding: 20px;
  transition: .5s;
}

.bouton-dons {
  color: #052f5f;
  border: 1px solid #052f5f;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #052f5f;
  background-color: #fff;
  padding: 4px;
  cursor: pointer;
  font-family: 'montserrat,sans-serif';
  letter-spacing: 1.5px;
}

.bouton-dons:active {
  box-shadow: none;
}

h1 {
  text-decoration: underline;
}

h1,h2,h3 {
  color: #052f5f;
  font-weight: 400;
}

h3 {
  padding: 6px;
}

#Information_calculatrice {
  color: #414856;
  margin-left: 40px;
}

#Information_calculatrice p {
  padding: 10px;
  font-size: 14px;
}

#Information_calculatrice a {
  color: #000;
}

#historique_resultat {
  border: 1px #052f5f solid;
  background-color: #f1f1f1;
  font-size: 15px;
  margin-bottom: 50px;
  overflow: auto;
}

#historique_resultat p:first-child {
  letter-spacing: 2pt;
  font-size: 20px;
  color: #042e5d;
  font-family: 'montserrat,sans-serif';
  background: #fff;
  border: 1px #052f5f solid;
  border-left: 0 #052f5f solid;
  border-right: 0 #052f5f solid;
  text-align: center;
}

#historique_resultat p span {
  margin-left: 60px;
  color: #000;
  text-align: center;
}

.container-carre {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carre-1 {
  border: 1px solid #dddfdf;
  margin-top: 2px;
  margin-left: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  display: flex;
  font-size: 20px;
}

.carre-1 > div {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 50px;
    height: 50px;
    padding-left: 15px;
  }	
	
  #titre {
    font-size: 20px;
  }

  #simple {
    font-size: 20px;
  }

  #menu_hamburger {
    display: none;
  }

  nav {
    display: block;
    font-size: 13px;
  }

  nav div {
    padding: 10px;
  }

  #sociaux {
    margin-left: 10%;
  }

  #menu_detail {
    background: #555;
    font-size: 13px;
    top: 69px;
  }

  #partie_1 {
    width: auto;
    display: none;
  }

  #calculatrice_simple {
    width: 550px;
    font-size: 45px;
    box-shadow: 0 0 0 #052f5f;
    margin-left: -275px;
    left: 50%;
  }

  #total {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    padding-right: 2px;
    box-shadow: 0 0 0 #052f5f;
    border: 1px #052f5f solid;
  }

  .bouton_calculatrice {
    border: 1px #052f5f solid;
    border-radius: 15px;
    box-shadow: 0 0 0 #052f5f;
    cursor: pointer;
    padding: 8px;
    font-size: 50px;
    width: 55px;
    background-color: #fff;
  }

  #sept {
    margin-top: 10px;
    margin-left: 20px;
  }

  #huit,#cinq,#deux {
    margin-top: -78px;
    margin-left: 120px;
  }

  #neuf,#six,#trois,#point {
    margin-top: -78px;
    margin-left: 220px;
  }

  #CE,#diviser,#moins,#egale {
    margin-top: -78px;
    margin-left: 355px;
  }

  #C,#multiplier,#addition {
    margin-top: -78px;
    margin-left: 450px;
  }

  #quatre,#un {
    margin-top: 20px;
    margin-left: 20px;
  }

  #zero {
    margin-top: -80px;
    margin-left: 20px;
    width: 145px;
  }

  #egale {
    background: #FFCC00;
  }

  #brouillon_1 {
    font-size: 20px;
    top: -395px;
  }

  #croix_produit_en_croix {
    margin-left: 170px;
  }

  .input_moyenne {
    width: 70px;
    font-size: 14px;
  }

  #logo-bitcoin > div {
    margin-top: 20px;
  }
  #partie_2{
    width: 100%;
  }
}

@media handheld and (max-width: 900px) {
  .logo {
    width: 50px;
    height: 50px;
    padding-left: 15px;
  } 
  	
  #titre {
    font-size: 20px;
  }

  #simple {
    display: none;
  }

  nav div {
    padding: 10px;
    font-size: 10px;
    box-shadow: 0 0 0 #7f91b6;
  }

  nav div:hover {
    color: #fff;
    background: 0;
    box-shadow: none;
    cursor: default;
    transition: none;
  }

  #menu_detail {
    background: #555;
    font-size: 10px;
    top: 65px;
  }

  #croix-ferme {
    display: block;
    position: relative;
    top: 10px;
    padding: 5px;
  }

  #sociaux {
    margin-left: 10%;
  }

  #partie_1 {
    width: auto;
    display: none;
  }

  #calculatrice_simple {
    width: 550px;
    font-size: 45px;
    box-shadow: 0 0 0 #052f5f;
    margin-left: -275px;
    left: 50%;
  }

  #total {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    padding-right: 2px;
    box-shadow: 0 0 0 #052f5f;
    border: 1px #052f5f solid;
  }

  .bouton_calculatrice {
    border: 1px #052f5f solid;
    border-radius: 15px;
    box-shadow: 0 0 0 #052f5f;
    cursor: pointer;
    padding: 8px;
    font-size: 50px;
    width: 55px;
    background-color: #fff;
  }

  #sept {
    margin-top: 10px;
    margin-left: 20px;
  }

  #huit,#cinq,#deux {
    margin-top: -78px;
    margin-left: 120px;
  }

  #neuf,#six,#trois,#point {
    margin-top: -78px;
    margin-left: 220px;
  }

  #CE,#diviser,#moins,#egale {
    margin-top: -78px;
    margin-left: 355px;
  }

  #C,#multiplier,#addition {
    margin-top: -78px;
    margin-left: 450px;
  }

  #quatre,#un {
    margin-top: 20px;
    margin-left: 20px;
  }

  #zero {
    margin-top: -80px;
    margin-left: 20px;
    width: 145px;
  }

  #egale {
    background: #FFCC00;
  }

  #brouillon_1 {
    font-size: 20px;
    top: -395px;
  }

  #croix_produit_en_croix {
    margin-left: 170px;
  }

  .input_moyenne {
    width: 70px;
    font-size: 14px;
  }

  #logo-bitcoin > div {
    margin-top: 20px;
  }
  
  #partie_2{
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  
  .logo {
    width: 50px;
    height: 50px;
    padding-left: 0px;
  } 
  
  #partie_2{
    width: 100%;
  }
  
  #titre {
    font-size: 15px;
  }

  #simple {
    display: none;
  }

  #menu_hamburger {
    background: url(images/menu_hamburger.png) no-repeat center center;
    background-color: #042e5d;
    height: 30px;
    text-align: center;
    border-radius: 4px;
  }

  nav {
    display: none;
  }

  nav div {
    display: block;
  }

  nav div:hover {
    box-shadow: none;
    transition: none;
    background: linear-gradient(#3767a0,#042e5d);
  }

  nav div:last-child {
    position: relative;
    right: 0;
    border: 1px #f8f8ff solid;
  }

  #menu_detail {
    position: relative;
    top: -2px;
    width: auto;
  }

  #sociaux {
    margin-left: 1%;
  }

  #sociaux > div {
    padding: 8px 5px;
  }

  #sociaux > div:last-child {
    display: none;
  }

  #toutes_les_parties {
    display: block;
  }

  #partie_1 {
    width: auto;
    display: none;
  }

  #titre_machine {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: 0 #052f5f double;
  }

  #calculatrice_simple {
    width: 350px;
    font-size: 40px;
    margin-left: -175px;
    border: 1px #052f5f solid;
    left: 50%;
  }

  #emprunt {
    left: 50%;
    margin-left: -175px;
  }

  #emprunt th {
    padding: 7px;
    font-size: 9px;
  }

  #total {
    margin-top: 0;
    height: 40px;
    padding-right: 2px;
    box-shadow: 0 0 0 #052f5f;
    border: 1px #052f5f solid;
    font-size: 27px;
  }

  .bouton_calculatrice {
    border-radius: 10px;
    padding: 6px;
    font-size: 30px;
    width: 35px;
  }

  #sept {
    margin-top: 10px;
    margin-left: 20px;
  }

  #huit,#cinq,#deux {
    margin-top: -50px;
    margin-left: 85px;
  }

  #neuf,#six,#trois,#point {
    margin-top: -50px;
    margin-left: 150px;
  }

  #CE,#diviser,#moins,#egale {
    margin-top: -50px;
    margin-left: 220px;
    font-size: 30px;
  }

  #C,#multiplier,#addition {
    margin-top: -50px;
    margin-left: 280px;
  }

  #quatre,#un {
    margin-top: 10px;
  }

  #zero {
    margin-top: -62px;
    width: 110px;
  }

  #addition {
    padding-top: 42px;
    padding-bottom: 43px;
  }

  #brouillon_1 {
    font-size: 15px;
    top: -240px;
    opacity: 0;
  }

  #croix_produit_en_croix {
    margin-left: 70px;
  }

  .input_moyenne {
    width: 50px;
    font-size: 10px;
  }

  .bouton_moyen {
    color: #fff;
    letter-spacing: 2pt;
    font-size: 10px;
    padding: 7px;
    margin-left: 20px;
  }

  .ligne_input {
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
  }

  input {
    border: 1px #042e5d solid;
    margin-left: 18px;
  }

  .input_carre_moyen {
    border: 1px #042e5d solid;
    width: 60px;
    height: 30px;
    font-size: 10px;
  }

  .input_carre {
    border: 1px #042e5d solid;
    width: 40px;
    height: 30px;
    font-size: 20px;
  }

  .input_carre_resultat {
    border: 1px #fff dashed;
    width: 40px;
    height: 30px;
    font-size: 20px;
  }

  .input_rectangle {
    border: 1px #042e5d solid;
    width: 200px;
    height: 25px;
    font-size: 20px;
  }

  .input_rectangle_resultat {
    border: 1px #fff dashed;
    width: 200px;
    height: 25px;
    font-size: 20px;
  }

  #chaineCarateres {
    width: 300px;
  }

  #cote-a-nombre,#cote-b-nombre {
    display: none;
  }

  #bitACopier {
    height: 25px;
    width: 250px;
    margin-left: 0;
  }

  #logo-bitcoin > div {
    margin-top: 15px;
  }

  .chargement-bitcoin {
    margin: 50px 10% 30px;
  }

  .correction-convertisseur {
    width: 80px!important;
    font-size: 10px!important;
    height: 29px!important;
  }

  #mon_canvas {
    transform: scale(0.7);
    position: relative;
    left: -25px;
  }

  #valeurs_calculer_plusieurs_durees {
    width: 90%;
  }
}