<div th:fragment="footer" th:remove="tag">
    <footer>
    <div>calculatrice.online, Copyright © 2019, Tous droits réservés</div>
    <div style="padding: 20px;padding-bottom: 40px;"><a rel="nofollow" href="contact.html" title="nous contacter">Nous
            contacter</a> - <a rel="nofollow"
                               href="mentions_legales.html">Mentions
            légales</a> - <!-- <a rel="nofollow"
                                                                                             href="faq.php"
                                                                                             title="foire aux questions">Foire
            aux questions</a> - --> <a href="partenaires.html">Partenaires</a><span
                class="cacher"> - Inscription - Connexion</span><!-- CONNEXION N'EST PAS ACTIF --></div>
	</footer>
	<!-- cookie -->
	<div id="cookie" style="display: block !important;">
	    <p>Les cookies nous permettent de personnaliser le contenu et les annonces, d'offrir des fonctionnalités relatives
	        aux médias sociaux et d'analyser notre trafic. Nous partageons également des informations sur l'utilisation de
	        notre site avec nos partenaires de médias sociaux, de publicité et d'analyse, qui peuvent combiner celles-ci
	        avec d'autres informations que vous leur avez fournies ou qu'ils ont collectées lors de votre utilisation de
	        leurs services. <a rel="nofollow" style="color:red;" href="mentions_legales.html#cookies"> EN SAVOIR PLUS </a></p>
	    <div onclick="fermer_cookie()" class="bouton_petit" style="width:150px;text-align:center;"> J'ACCEPTE</div>
	</div>
	
	<script async id="javascript_fichier" src="../static/js/fonctions.js"></script>
	<script async src="../static/js//js-ts.js"></script>
</div>